.modalBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.containerAddClass {
    background-color: #f0f0f0;
    width: 40rem;
    height: 45rem;
    color: #7D00E4;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    box-shadow: 2px 2px 0px #1e1e1e;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
}

.containerAddClass h3 {
    font-size: 3rem;
    text-align: center;
}

.containerAddClass label {
    text-align: center;
}

.containerAddClass select {
    width: 30rem;
    height: 4rem;
    background-color: #7D00E4;
    color: #f0f0f0;
    font-size: x-large;
    text-align: center;
}

.btnNext {
    position: absolute;
    bottom: 0;
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnSaveDegree {
    border: #7D00E4 solid 1px;
    width: 15rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
}

.alert {
    color: #D0342C;
    position: absolute;
    bottom: 8rem;
}

.loader {
    width: 3rem;
    height: 3rem;
    border: 5px solid #7D00E4;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.containerAddClassSchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .btnFinishAddClassSchedule {
    color: #1e1e1e;
    background-color: #FFA629;
    width: 36rem;
    text-align: center;
} */

