.darkBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.classContentContainer {
    background-color: #f0f0f0;
    width: 48rem;
    height: 52rem;
    /* color: #b50909; */
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    box-shadow: 2px 2px 0px #1e1e1e;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
    text-align: center;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
}

.classContentGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 8rem 3rem max-content;
    column-gap: .5rem;
    row-gap: 2rem;
}

.classContentHeader > h3 {
    /* grid-area: 1/1/1/5; */
    font-size: x-large;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btnOptions {
    background: #F8F9FA;
    color: #1E1E1E;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
    text-align: center;
    position: relative;
}

.numberOccurrences {
    position: absolute;
    top: -1rem;
    right: 0;
    background: #333;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: wheat;
}

.activeBtn {
    background-color: #b50909;
}

.contentContainer {
    grid-area: 3/1/3/5;
    background-color: #F8F9FA;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 8rem 8rem 8rem;
    grid-gap: 0.5rem;
    height: fit-content;
}

.classContentHeader {
    grid-area: 1 / 1 / 1 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.addModal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.selectInput {
    border: #1E1E1E solid 1px;
    border-radius: 1rem;
    box-shadow: 2px 2px 0px #1E1E1E;
    height: 4rem;
    width: 20rem;
    display: flex;
    align-items: center;
}

.containerBtnPrevNext {
    display: flex;
    gap: 1rem;
}

.CustomDateInput {
    background: #F8F9FA;
    border: solid 1px #1E1E1E;
    box-shadow: 2px 2px 0px #1E1E1E;
    border-radius: 1rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.containerTextArea {
    border: solid 1px #1e1e1e;
    width: 30rem;
    height: 7rem;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 0px #1e1e1e;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: small;
    text-align: justify;
    border: #1E1E1E solid 1px;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 0px #1E1E1E;
    /* min-width: 20rem; */
    width: 100%;
}

.btnSaveOccurence {
    background: #b50909;
    color: #F8F9FA;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
}

.containerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1/2/1/2;
}

.occurrenceContainer {
    display: grid;
    grid-template-rows: 2rem max-content;
    background-color: #F8F9FA;
    border-radius: 1rem;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
    font-size: small;
    overflow: hidden;
    padding: 0.5rem;
}

.occurrenceContainer > span:first-child {
    font-weight: bold;
    color: #b50909;
}

.occurrenceContainer > span:last-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-line;
    overflow: hidden;
    color: #1e1e1e;
}

