.mainContainer {
    width: 100vw;
    max-width: 144rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.lightMode{
    background: #F8F9FA;
}

.darkMode{
    background: #6c6c6c;
}

.logogradeplus{
    width: 400px;
    height: 100px;
    margin-top: 0;
}
.mainContainer header {
    width: 100%;
    height: 8rem;
}

.mainContainer nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 1rem;
    gap: 25rem;
}

.btnNavBar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnNavBar button {
    width: 24rem;
    height: 4rem;
    background: #F8F9FA;
    border: 1px solid #1E1E1E;
    border-radius: 10px;    
    font-weight: bold;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 0px #1E1E1E);
}

.btnNavBar button:hover {
    background-color: #b50909;
    color: #F0F0F0;
}

.containerComponents {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    gap: 10rem;
    justify-content: center;
}

.leftSide {
    width: 43rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: grid;
    grid-template-columns: 43rem;
    grid-template-rows: 20.5rem 26.5rem;
}

.rightSide {
    width: 54rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerFloating {
    width: 100%;
    display: flex;
    padding: 0 10rem;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1060px){
    .mainContainer{
        font-size: 90%;
    }
    .leftSide {width: 40rem;}
    .rightSide{width: 50rem;}
}

@media all and (max-width: 995px){
    .mainContainer{
        font-size: 85%;
    }
    .leftSide {width: 32rem;}
    .rightSide{width: 43rem;}   
}

@media all and (max-width: 820px) {
    .mainContainer{
        font-size: 80%;
    }  
    .leftSide {width: 29rem;}
    .rightSide{
        width: 38rem;
        margin-right: 1.5rem;}
    .containerComponents {
        gap: 15rem;
    }
}

@media all and (max-width: 768px) {
    .leftSide {width: 27rem;}
    .containerComponents {
        gap: 12rem;
    }
}



