.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 1rem;
    gap: 1rem;
    height: 8rem;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
    background: #F8F9FA;
    border-radius: 1rem;
    position: relative;
    /* transition: all .0s .1s ease-out; */
}

.btnFloatingModal {
    display: flex;
    flex-direction: column;
    font-size: x-small;
    font-weight: 500;
    background: #F8F9FA;
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    border: solid 1px #1e1e1e;
    border-radius: 1rem;
    box-shadow: 2px 2px 0px #1e1e1e;
}

.btnFloatingModal:hover {
    background-color: #FFA629;
}

.isActive {
    background-color: #FFA629;
}

.optionsContainer {
    width: 29.2rem;
    height: 8rem;
    border: solid 1px #1e1e1e;
    position: absolute;
    /* top: -10rem; */
    top: -9rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 0px #1e1e1e;
    background: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.optionsContainer button:hover {
    font-weight: bold;
}