.floatingMenu {
    position: relative;
}

.menuContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA629;
    margin-top: 1rem;
    color: #1e1e1e;
    width: 20rem;
    border: 1px solid #1E1E1E;
    box-shadow: 2px 2px 0px #1E1E1E;
    border-radius: 10px;
    padding: 1rem;
    z-index: 1;
}

.menuContent button:hover {
    font-weight:bold;
}

.fileUploadStyle {
    cursor: pointer;
}
.fileUploadStyle:hover{
    font-weight: bold;
}
