.fullContainer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #6c6c6c;
    z-index: 1;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem;
}

.focusContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;

}

.timer {
    /* border: solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.timer > span {
    font-size: 8rem;
    color: #F8F9FA;
}

.timerButtons {
    /* border: solid 1px #1E1E1E; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.formatNumbers {
    font-size: 8rem;
    color: #F8F9FA;
    display: grid;
    grid-template-columns: 12rem 2rem 12rem 2rem 12rem;
    width: 100%;
    text-align: center;
}

.timerButtons > button {
    border: solid 1px #1E1E1E;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 0px #1E1E1E;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: #1E1E1E;
}

.BtnIniciar:hover,.BtnEncerrar:hover,.BtnPausar:hover{
    background-color: #6c6c6c;
    color: white;
}

.controlAnimation {
   transform: all 0.5s ease-in-out;
}

.saveSession {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    gap: .5rem;
    background: white;
    border: solid 1px #1e1e1e;
    box-shadow: 2px 2px 0px #1e1e1e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.saveSession > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.saveSession button {
    border: solid 1px #1e1e1e;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
}

.saveSession button:hover {
    background-color: #6c6c6c;
    color: white;
}