.mainContainer {
    background-color: white;
    width: 100vw;
    max-width: 144rem;
    height: 100vh;
    display: flex;
}

.leftContainer{
    background-color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
}  

.rightContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    flex:1;
    background-color: #b50909;
    border-radius: 20px;
    margin: 10px;
    margin-top: 5px;
    align-items: center;
}

.logogradeplus{
    fill: #b50909;
    width: 650px;
    height: 470px;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.logologin{
    width: 200px;
    fill: white;
    height: 200px;
}
.h1 {
    font-size: 5rem;
    color: white;
    line-height: 10rem;
    margin-bottom: 5px;
}

.formLogin {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding: 0rem;
}

.formLogin input {
    text-align: left;
    box-sizing: border-box;
    padding: 0 0 0 8rem;
    background: white;
    border: 2px solid #1E1E1E;
    box-shadow: 2px 2px 0px #1E1E1E;
    border-radius: 1rem;
}

/* .setPassContainer{
    display: flex;
    gap: 1rem;
} */

.btnSubmitLogin {
    background-color: #b50909;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47rem;
    height: 6rem;
    border: 2px solid #1E1E1E;
    box-shadow: 2px 2px 0px #1E1E1E;
    border-radius: 1rem;
}

/* .btnSubmitLogin:focus, */
.btnSubmitLogin:hover {
    background-color: #ad0909;
    box-shadow: 2px 2px 0px 1px #333;
    transition: box-shadow 0.5s ease;
}

.inputWrapper {
    position: relative;
    width: fit-content;
}

.inputWrapper label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    font-size: 2rem;
    color: #333;
    opacity: 0.5;
    pointer-events: none;
    transition: .5s;
}

.inputWrapper input:focus ~ label ,
.inputWrapper input:valid ~ label ,
.inputWrapper input:not(:placeholder-shown) ~ label{
  top: 0;
  left: 0;
  color: #333;
  font-size: 1.4rem;
  padding: 1rem;
}

/* .invalidInput{
    border: solid #ff0000 1px;
}

.validInput{
    border: solid #04AA6D 1px;
} */

.errorMessage{
    display: none;
    color: #FF9999;
    font-weight: lighter;
    /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.emptyMessage{
    display: none;
    color: #FF9999;
    font-weight: lighter;
    /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.usedMessage{
    display: none;
    color: #FF9999;
    font-weight: lighter;
    /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.goSignUp{
    /* background-color: #333333; */
    grid-column: 7/12;
    width: 47rem;
    height: 4rem;
    grid-row: 6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.btnGoogle{
    background-color: #FFF;
    color: #333;
    font-size: 1.6rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 47rem;
    height: 6rem;
    box-shadow: 1px 1px 0px 1px #333;
    grid-column: 7/12;
    grid-row: 7;
}
.btnGoogle:hover{
    box-shadow: 2px 2px 0px 1px #333;
}

.setCheckPassWrapper{
    display: flex;
    gap: 1rem;
}

.passModal{
    width: 15rem;
    height: 20rem;
    background-color: #333333;
    position: absolute;
    top: 0;
    left: -16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: #707070;
}

.passModal span:first-child{
    color: #F0F0F0;
}

.greenPass{
    color: #04AA6D;
}

.containerEmailSent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 2rem;
    color: #333;
}