.mainContainer {
    background-color: #EBE5DF;
    width: 100vw;
    max-width: 144rem;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1rem;
    grid-template-rows: repeat(12,1fr);
}

.logoTexto {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    color: #333333;
    width: 18rem;
    height: 11rem;
    /* position: absolute; */
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

.logoMais {
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    color: #9747FF;
    top: 0rem;
    left: 13rem;
}

.textbox {
    grid-column: 7/span8;
    grid-row: 3;
}

.textbox h1 {
    font-size: 10rem;
    color: #9747FF;
    line-height: 12rem;
    font-weight: normal;
}

.textbox p {
    font-size: 3rem;
    color: #707070;
    padding: 0 1rem;
}

.formLogin {
    /* border: solid; */
    grid-column: 7/12;
    grid-row: 5;
    display: grid;
    gap: 1rem;
    /* padding: 2rem 0rem; */
}

.formLogin input {
    width: 47rem;
    height: 6rem;
    background-color: #FFF;
    box-shadow: 1px 1px 0px 1px #333;
    text-align: right;
    box-sizing: border-box;
    padding: 0 5rem;
}

.formLogin input:hover {
    box-shadow: 2px 2px 0px 1px #333;
}

.btnSubmitLogin {
    background-color: #9747FF;
    color: #F0F0F0;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47rem;
    height: 6rem;
    box-shadow: 1px 1px 0px 1px #333;
}

.btnSubmitLogin:focus,
.btnSubmitLogin:hover {
    background-color: #BA85FF;
    box-shadow: 2px 2px 0px 1px #333;
}

.inputWrapper {
    position: relative;
    width: fit-content;
}

.inputWrapper label {
    position: absolute;
    bottom:0;
    right: 0;
    padding: 1.5rem;
    font-size: 2rem;
    color: #333;
    opacity: 0.5;
    pointer-events: none;
    transition: .5s;
}

.inputWrapper input:focus ~ label, 
.inputWrapper input:valid ~ label {
  top: 0;
  right: 0;
  color: #333;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.goSignUp{
    /* background-color: #333333; */
    grid-column: 7/12;
    width: 47rem;
    height: 4rem;
    grid-row: 6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.btnGoogle{
    background-color: #FFF;
    color: #333;
    font-size: 1.6rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 47rem;
    height: 6rem;
    box-shadow: 1px 1px 0px 1px #333;
    grid-column: 7/12;
    grid-row: 7;
}
.btnGoogle:hover{
    box-shadow: 2px 2px 0px 1px #333;
}
