.mainContainer {
    background-color: #EBE5DF;
    width: 100vw;
    padding: 0 10rem;
    max-width: 144rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContainer{
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    flex-basis: 72rem;
}

.containerLeftImage{
    /* width: 100%; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.rightContainer{
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    flex-basis: 72rem;
    height: 100vh;
}

.logoTexto {
    font-size: 5rem;
    color: #333333;
    padding: 4rem;
}

.logoMais {
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    color: #9747FF;
    top: 0rem;
    left: 13rem;
}

.textbox {
    width: 100%;
}

.textbox h1 {
    font-size: 10rem;
    color: #9747FF;
    line-height: 12rem;
    font-weight: normal;
}

.textbox p {
    font-size: 3rem;
    color: #707070;
    padding: 0 1rem;
}

.formLogin {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.formLogin input {
    background-color: #FFF;
    box-shadow: 1px 1px 0px 1px #333;
    text-align: right;
    box-sizing: border-box;
    padding: 0 5rem;
}

.wideInput{
    width: 47rem;
    height: 6rem;
}
.shortInput{
    width: 23rem;
    height: 6rem;
}

.setPassContainer{
    display: flex;
    gap: 1rem;
}

.formLogin input:hover {
    box-shadow: 2px 2px 0px 1px #333;
}

.btnSubmitLogin {
    background-color: #9747FF;
    color: #F0F0F0;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47rem;
    height: 6rem;
    box-shadow: 1px 1px 0px 1px #333;
}

.btnSubmitLogin:focus,
.btnSubmitLogin:hover {
    background-color: #BA85FF;
    box-shadow: 2px 2px 0px 1px #333;
}

.inputWrapper {
    position: relative;
    width: fit-content;
}

.inputWrapper label {
    position: absolute;
    bottom:0;
    right: 0;
    padding: 1.5rem;
    font-size: 2rem;
    color: #333;
    opacity: 0.5;
    pointer-events: none;
    transition: .5s;
}

.inputWrapper input:focus ~ label, 
.inputWrapper input:valid ~ label {
  top: 0;
  right: 0;
  color: #333;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.goSignUp{
    /* background-color: #333333; */
    grid-column: 7/12;
    width: 47rem;
    height: 4rem;
    grid-row: 6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.btnGoogle{
    background-color: #FFF;
    color: #333;
    font-size: 1.6rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 47rem;
    height: 6rem;
    box-shadow: 1px 1px 0px 1px #333;
    grid-column: 7/12;
    grid-row: 7;
}
.btnGoogle:hover{
    box-shadow: 2px 2px 0px 1px #333;
}

.setCheckPassWrapper{
    display: flex;
    gap: 1rem;
}